table {
    width: fit-content;
    margin: 20px auto;
}

tr {
    border-bottom: 1px solid #adb5bd;
}

tr:last-child {
    border-bottom: 0;
}

td {
    padding: 5px;
    font-size: small;
    border-right: 1px solid #adb5bd;
}

tr:first-child td {
    font-size: medium;
    font-weight: bold;
}

td:last-child {
    border-right: 0px;
}

nav li {
    margin: 0 10px 0 0;
}

.reiter {
    color: black
}

.reiter:hover {
    color: gray
}

.sql-befehl {
    font-size: large;
    font-family: monospace;
}

.navbar-toggler-icon {
    background-image: url("../img/burger.png");
}

@media (max-width: 800px) {
    nav {
        visibility: hidden;
    }
    h1 {
        display: none;
    }
    h2 {
        display: none;
    }
    h3 {
        display: none;
    }
    body {
        text-align: center;
        width: fit-content;
        margin: 0 auto;
    }
    body::after {

        content: "Diese Webseite ist nicht für Mobile gemacht.";
    }
    table {
        display: none;
    }
}