
section, table {
    width: 80%;
    margin: 0 auto;
}

table {
    margin: 20px auto;
}

.reiter {
    color: black
}

.reiter:hover {
    color: gray
}

.sql-befehl {
    font-size: large;
    font-family: monospace;
}

.navbar-toggler-icon {
    background-image: url("../img/burger.png");
}